.sidebar {
    position: absolute;
    background: white;
    float: left;
    left: 160px;
    top: 0px;
    width: 250px;
    height: 90%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
    margin: 0;
    padding: 0;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
}

ul li {
    list-style-type: none;
    margin: 0;
}

ul li a {
    display: block;
    text-decoration: none;
}

.sidebar-link:hover {
    transition: 0.8s;
    background-color: #0099FF;
    color: white;
}

.active {
    background-color: #0099FF;
    color: white;
}

.sidebar-list {
    margin-top: 10px;
}

#squareimg {
    width: 200px;
    height: 190px;
    top: 40px;
    left: 3px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    display: inline-block;
}

.sidebar-pic {
    width: 100%;
    height: auto;
}

.sidebar-footer {
    width: 100%;
    text-align: center;
}

#sidetitle {
    font-size: 32px;
}
