.about {
    padding-top: 30vh;
    white-space: pre-wrap;
    color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background: #0c192c;
    z-index: -1;
}

.about h1 {
    text-align: center;
}

.aboutPara {
    width: 30vw;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.seashellPic {
    position: absolute;
    left: 34vw;
    top: 20vh;
    opacity: 50%;
}