.about {
    padding-top: 33vh;
    white-space: pre-wrap;
    color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background: #0c192c;
    z-index: -1;
}

.about h1 {
    text-align: center;
}
@media only screen and (min-width: 0px) {
    /* For mobile */
    .aboutPara {
        margin: auto;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-top: 20px;
        text-align: center;
    }
    
    .seashellPic {
        position: absolute;
        left: 10vw;
        top: 30.5vh;
        opacity: 30%;
        width: 82vw;
        height: 60vh;
    }
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .aboutPara {
        width: 30vw;
        margin: auto;
        margin-top: 20px;
        text-align: center;
    }
    
    .seashellPic {
        position: absolute;
        left: 34vw;
        top: 20vh;
        opacity: 50%;
        width: 600px;
        height: 556px;
    }
  }

