body {
    background: #0c192c;
    width: 100vw;
    height: 100vh;
    display: block;
}
/* Top bar related CSS */
#sidebarList {
    margin: 0;
    padding: 0;
    z-index: 3000;
}

#sidebarList li {
    list-style-type: none;
    margin: 0;
    display: inline-block;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 100px;
    padding-right: 100px;
}