@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.home {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background: #0c192c;
    z-index: -1;
}

.home-jumbobox {
    position: absolute;
    padding-top: 40vh;
    padding-left: 10vw;
    color: white;
    font-family: 'Mulish', sans-serif;
}

.home-jumbobox p {
    padding-top: 10px;
}

.socials {
    font-size: 2rem;
}

.socials a {
    padding: 2rem 1rem 2rem 0px;
    color: rgb(214, 171, 115);
    transition: 0.4s;
}

.socials a:hover {
    color: rgb(240, 155, 27);
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #0c192c;
}
.bubbles {
    position: relative;
    display: flex;
    padding-left: 70vw;
}
.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}