@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.home {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background: #0c192c;
    z-index: -5;
}

.home-jumbobox {
    position: absolute;
    text-align: center;
    padding-top: 40vh;
    color: white;
    font-family: 'Mulish', sans-serif;
    z-index: 2;
}

.home-jumbobox p {
    padding-top: 10px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.title-card {
    text-align: left;
    padding-left: 10vw;
}

.socials {
    font-size: 2rem;
}

.socials a {
    padding: 2rem 1rem 2rem 0px;
    color: rgb(214, 171, 115);
    transition: 0.4s;
}

.socials a:hover {
    color: rgb(240, 155, 27);
}

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #0c192c;
}
.bubbles {
    display: flex;
    padding-left: 70vw;
}
.bubbles span {
    width: 2.5vw;
    height: 2.5vw;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 0.8vw #4fc3dc44, 0 0 4vw #4fc3dc, 0 0 8.325vw #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
@keyframes animate {
    0% {
        transform: translate(-200px, 100vh) scale(0);
    }
    10% {
        transform: translate(-100px, 90vh) scale(0.1);
    }
    55% {
        transform: translate(-150px, 45vh) scale(0.55);
    }
    80% {
        transform: translate(0px, 20vh) scale(0.8);
    }
    100% {
        transform: translate(-30px, -10vh) scale(1);
    }
}