.projects {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 10vh;
    padding-left: 3%;
    padding-right: 10%;
    white-space: pre-wrap;
    color: white;
    background: #0c192c;
    overflow: hidden;
}

.projects-centered {
    overflow-y: auto;
    height:75vh;
    width: 30vw;
    /* IE, Edge, Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Chrome, Safari, Opera */
.projects-centered::-webkit-scrollbar {
    display: none;
}

.project-koi {
    position: absolute;
    left: 45vw;
    top: 9vh;
    object-fit: cover;
    opacity: 60%;
    height: 1185px;
}

.projHeader {
    text-align: left;
    margin-bottom: 2vh;
}

.proj-title a {
    color: rgb(214, 171, 115);
    transition: 0.3s;
}

.proj-title a:hover {
    color: rgb(215, 135, 14);
    text-decoration: none;
}

.entry {
    text-align: left;
    margin-bottom: 5vh;
    transition: 1s;
    padding-left: 7px;
    padding-bottom: 5px;
    border-radius: 12px;
}

.entry:hover {
    /* From https://css.glass */
    background: rgba(191, 211, 239, 0.62);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

@media only screen and (max-width: 400px) and (orientation: portrait) {
    .projects-centered {
        height: 54vh;
        width: 100vw;
        padding-left: 5px;
        padding-right: 50px;
    }

    .project-koi {
        display: none;
    }

    .projHeader {
        text-align: center;
    }

    .projects {
        padding-top: 25vh;
    }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    .projects {
        top: 0vh;
        padding-top: 30vh;
        height: 100vh;
    }
}

/*@media only screen and (max-width: 820px) {
    .projects-centered {
        height: 75vh;
        width: 95vw;
    }

    .projects {
        padding-top: 15vh;
    }
}*/

@media only screen and (max-width: 990px) and (orientation: landscape) {
    .projects-centered {
        width: 100vw;
        padding-right: 50px;
    }

    .project-koi {
        display: none;
    }

    .projects {
        padding-top: 15vh;
    }
}

/* Ipad Portrait */
@media only screen and (max-width: 1082px) and (orientation: portrait) {
    .project-koi {
        display: none;
    }
}

@media only screen and (max-width: 1300px) and (orientation: portrait) {
    .projects-centered {
        height: 70vh;
        width: 95vw;
        border-bottom: double;
    }

    .project-koi {
        width: 40vw;
        height: 70vh;
        left: 50vw;
        top: 15vh;
    }
}

@media only screen and (max-width: 1450px) {
    .project-koi {
        width: 40vw;
        height: 70vh;
        left: 50vw;
        top: 15vh;
    }
}

@media only screen and (min-width: 1500px) {
    .projects-centered {
        height: 75vh;
    }

}