#searchbar {
    width: 80%;
    font-size: calc(1.5vw + 1.5vh + 0.5vmin);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    text-align: center;
    color: #050a12;
}

.search-suggestions {
    display: inline-block;
    margin: 20px 100px;
}

#search-form {
    text-align: center;
    margin-top: 10px;
}
