.startpage {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    padding-top: 28vh;
    color: white;
    background: #0c192c;
}

.startpageTable {
    display: table;
    margin: 0 auto;
    table-layout: fixed;
}
