@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

.bookmark-link {
    display: block;
    color: white;
}

.bookmark-link:hover {
    transition: 0.8s;
    background-color: #da994579;
    color: white;
}

.bookmark-header {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding-bottom: 3px; 
    margin: 3px;
    background: #212b3b;
    color: aliceblue;
    margin-bottom: 10px;
}

.bookmark-col {
    display: table-cell;
    min-width: 15vw;
}

@media only screen and (max-width: 600px) {
    .bookmark-col {
        min-width: 30vw;
    }
}

