@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#topbar {
    position: absolute;
    width: 100vw;
    z-index: 3;
    text-align: center;
}

#sidebarList {
    margin: 0;
    padding: 0;
    z-index: 3000;
}

.sidebarLink {
    width: 25vw;
    padding-top: 2vh;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* Effects */
@media only screen and (min-width: 768px) {
    .sidebarLink:after {
        content: '';
        position: absolute;
        width: 125%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0vw;
        background-color: #d4dfff;
        transform-origin: bottom right;
        transition: transform 0.42s ease-out;
    }

    .sidebarLink:hover {
        text-decoration: none;
        color: #f09b1b;
    }

    .sidebarLink:hover:after {
        transform: scaleX(.8);
        transform-origin: bottom left;
    }
}

.navHR {
    background: rgba(226, 153, 240, 0.452);
    height: 0.01px;
    margin: 0
}

/* Responsive ness */
@media only screen and (min-width: 0px) {
    /* For mobile: */
    #sidebarList {
        background-color: rgba(63, 68, 161, 0.299);
    }
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    #sidebarList {
        background-color: transparent;
    }
  }